In [97]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

pd.set_option('display.max_columns',100)

import warnings
warnings.filterwarnings("ignore")

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge,Lasso
from sklearn.linear_model import ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import ExtraTreeRegressor
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [99]:
def algo_test(x,y):

        L=LinearRegression()
        R=Ridge()
        Lass=Lasso()
        E=ElasticNet()
        ETR=ExtraTreeRegressor()
        GBR=GradientBoostingRegressor()
        XGBC=XGBRegressor()
        dt=DecisionTreeRegressor()
        kn=KNeighborsRegressor()
        
        
        x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.1,random_state=13)
        
        algos=[L,R,Lass,E,ETR,GBR,XGBC,dt,kn]
        algo_names=['Linear','Ridge','Lasso','ElasticNet','Extra Tree','Gradient Boosting','XGradientBoosting','DecisionTree','KNeighbors']
        
        r2Score = []
        rmse = []
        mae = []
        
        result=pd.DataFrame(columns=['R2_score','RMSE','MAE'],index=algo_names)
        
        
        for algo in algos:
            p=algo.fit(x_train,y_train).predict(x_test)
            r2Score.append(r2_score(y_test,p))
            rmse.append(mean_squared_error(y_test,p)**.5)
            mae.append(mean_absolute_error(y_test,p))
        
            
        result['R2_score']=r2Score 
        result.RMSE=rmse
        result.MAE=mae


        return result.sort_values('R2_score',ascending=False)

- Aşağıdaki 3 kod sorunsuz çalıştı.İlk iki satırı one liner olarak kısaltıp yazdım ancak html tam bilmediğimden biligiyi yanlış çekmek istemedim bu sebeple 3.koda dokunmadım.Kodları çalıştırdıktan sonra csv ye kaydettim ve restart clear output yaptığım seferlerde tekrar çalıştırmadım csv den okudum direk.

In [ ]:
liste=[BeautifulSoup(requests.get("https://www.hurriyetemlak.com/istanbul"+"-kiralik?page="+str(i)).text,"html.parser") for i in range(1,15)]

In [ ]:
soups=[BeautifulSoup(requests.get("https://www.hurriyetemlak.com" + link['href']).text, "html.parser") for soup in liste for link in soup.findAll('a', href=True) if ('kiralik' in link['href']) and (link['class']==['card-link'])]

In [ ]:
df=pd.DataFrame()
for soup in soups:
    row={}
    row['Fiyat']= soup.findAll('p',{"class":"fontRB fz24 price"})[0].text
    for ul in soup.findAll("ul",{"class":"adv-info-list"}):
        for i in range(len(ul.findAll('li'))):
            row[ul.findAll('li')[i].findAll('span')[0].text]= ul.findAll('li')[i].findAll('span')[1].text
    df = df.append(row, ignore_index=True)

In [ ]:
df.to_csv("istanbul.csv", index=False)

In [2]:
df=pd.read_csv('istanbul.csv')

In [3]:
df

,Banyo Sayısı,Bina Yaşı,Brüt / Net M2,Bulunduğu Kat,Cephe,Depozito,Eşya Durumu,Fiyat,Isınma Tipi,Kat Sayısı,Konut Şekli,Kullanım Durumu,Oda + Salon Sayısı,Site İçerisinde,Son Güncelleme Tarihi,İlan Durumu,İlan no,Aidat,Yakıt Tipi,Yapı Tipi,Yapının Durumu,Kira Getirisi,Krediye Uygunluk,Takas,Tapu Durumu
0,1,20 Yaşında,95 m2,18. Kat,Güney,"1,200 TL",Eşyalı Değil,"\n6,000 TL\n",Kombi,24 Katlı,Residence,Boş,1 + 1,SELENİUM 34 RESİDENCE,2 Gün Önce,Kiralık,118190-67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,20 Yaşında,250 m2,NaN,Güney,NaN,Eşyalı Değil,"\n10,000 TL\n",Kombi,4 Katlı,Villa,Kiracı Oturuyor,4 + 2,ARIKÖY,Bugün,Kiralık,13573-874,450 TL,Doğalgaz,Betonarme,İkinci El,NaN,NaN,NaN,NaN
2,1,16 Yaşında,210 m2,2. Kat,"Kuzey,",NaN,Eşyalı Değil,"\n15,000 TL\n",Kombi,2 Katlı,Daire,Boş,3 + 1,NaN,Dün,Kiralık,29795-4818,400 TL,Doğalgaz,Betonarme,İkinci El,NaN,NaN,NaN,NaN
3,1,30 Yaşında,35 m2,3. Kat,"Kuzey,","1,600 TL",Eşyalı,"\n1,600 TL\n",Isıtma Yok,5 Katlı,Daire,Boş,1 + 0,NaN,Dün,Kiralık,80253-286,NaN,Elektrik,Betonarme,İkinci El,NaN,NaN,NaN,NaN
4,1,30 Yaşında,70 m2,3. Kat,"Kuzey,","1,850 TL",Eşyalı Değil,"\n1,850 TL\n",Kombi,3 Katlı,Daire,Boş,1 + 1,NaN,Dün,Kiralık,80253-4,NaN,Doğalgaz,Betonarme,İkinci El,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,1,26 Yaşında,130 m2,3. Kat,"Güney,",NaN,Eşyalı Değil,"\n2,500 TL\n",Kombi,5 Katlı,Daire,Boş,3 + 1,Evet (Site Adı Belirtilmemiş),3 Gün Önce,Kiralık,97945-894,NaN,Doğalgaz,Betonarme,İkinci El,NaN,NaN,NaN,NaN
332,2,35 Yaşında,140 m2,1. Kat,"Güney,",NaN,Eşyalı Değil,"\n7,000 TL\n",Merkezi,4 Katlı,Daire,Boş,3 + 1,NaN,Bugün,Kiralık,90802-591,250 TL,Doğalgaz,Betonarme,İkinci El,NaN,NaN,NaN,NaN
333,1,Sıfır Bina,100 m2,5. Kat,"Kuzey,",NaN,Eşyalı Değil,"\n8,000 TL\n",Merkezi,8 Katlı,Daire,Boş,1 + 1,NaN,6 Gün Önce,Kiralık,121797-51,NaN,Elektrik,Betonarme,Sıfır,NaN,NaN,NaN,NaN
334,1,25 Yaşında,130 m2,4. Kat,"Güney,",NaN,Eşyalı,"\n2,350 TL\n",Kombi,5 Katlı,Daire,Belirtilmemiş,3 + 1,NaN,Bugün,Kiralık,63848-2637,NaN,NaN,Betonarme,İkinci El,NaN,NaN,NaN,NaN
335,1,1 Yaşında,76 m2,4. Kat,"Güney,","9,600 TL",Eşyalı Değil,"\n4,800 TL\n",Merkezi (Pay Ölçer),48 Katlı,Residence,Boş,1 + 1,NaN,Dün,Kiralık,67376-1553,600 TL,Doğalgaz,Betonarme,Sıfır,NaN,NaN,NaN,NaN

In [4]:
df.isnull().sum()

Banyo Sayısı               0
Bina Yaşı                  0
Brüt / Net M2              0
Bulunduğu Kat             14
Cephe                     69
Depozito                 124
Eşya Durumu                0
Fiyat                      0
Isınma Tipi                0
Kat Sayısı                 0
Konut Şekli                0
Kullanım Durumu           10
Oda + Salon Sayısı         0
Site İçerisinde          203
Son Güncelleme Tarihi      0
İlan Durumu                0
İlan no                    0
Aidat                    153
Yakıt Tipi                22
Yapı Tipi                 13
Yapının Durumu            21
Kira Getirisi            335
Krediye Uygunluk         334
Takas                    334
Tapu Durumu              334
dtype: int64

In [5]:
df=df.drop(columns=['Kira Getirisi','Krediye Uygunluk','Takas','Tapu Durumu','Yapının Durumu'],axis=1)

In [6]:
df['Bina Yaşı'].unique()

array(['20 Yaşında', '16 Yaşında', '30 Yaşında', '39 Yaşında',
       '4 Yaşında', '5 Yaşında', '40 Yaşında', '9 Yaşında', '112 Yaşında',
       '50 Yaşında', '35 Yaşında', '25 Yaşında', '26 Yaşında',
       '12 Yaşında', 'Sıfır Bina', '29 Yaşında', '22 Yaşında',
       '6 Yaşında', '10 Yaşında', '18 Yaşında', '7 Yaşında', '36 Yaşında',
       '3 Yaşında', '8 Yaşında', '2 Yaşında', '1 Yaşında', '15 Yaşında',
       '32 Yaşında', '11 Yaşında', '37 Yaşında', '100 Yaşında',
       '31 Yaşında', '45 Yaşında', '28 Yaşında', '24 Yaşında',
       '42 Yaşında', '47 Yaşında', '17 Yaşında', '120 Yaşında',
       '38 Yaşında', '23 Yaşında', '34 Yaşında', '21 Yaşında'],
      dtype=object)

In [7]:
df['Bina Yaşı'].replace({' Yaşında':'','Sıfır Bina':0},regex=True,inplace=True)

In [8]:
df['Bulunduğu Kat'].unique()

array(['18. Kat', nan, '2. Kat', '3. Kat', 'Yarı Bodrum', '1. Kat',
       'Bahçe Katı', 'Giriş Katı', '4. Kat', '7. Kat', '8. Kat', '5. Kat',
       '6. Kat', 'En Üst Kat', 'Yüksek Giriş', '9. Kat', '10. Kat',
       '16. Kat', '11. Kat', '21 ve üzeri', '13. Kat', '14. Kat',
       'Ara Kat', '15. Kat', '17. Kat', '12. Kat', 'Villa Katı', 'Kot 1',
       'Kot 2', 'Asma Kat', 'Zemin', 'Çatı Katı', '20. Kat'], dtype=object)

In [15]:
df['Bulunduğu Kat'].replace({'. Kat':'','Bahçı':'0','Giriı':'0','Bahçe Katı':'0','Zemin':'0','Ar':'5','Yarı Bodrum':'0','Bahçe Katı':'0','Giriş Katı':'0','Kot ':'','Çatı Katı':'21',' ve üzeri':'','Yüksek Giriş':'1','Çatı':'21','Villı':'0','En Üs':'21','Asm':'0'},regex=True,inplace=True)

In [10]:
df['Brüt / Net M2'].replace({' m2':''},regex=True,inplace=True)

In [11]:
df['Depozito'].replace({',':'',' TL':''},regex=True,inplace=True)

In [12]:
df['Eşya Durumu'].unique()

array(['Eşyalı Değil', 'Eşyalı'], dtype=object)

In [13]:
df['Eşya Durumu']=np.where(df['Eşya Durumu']=='Eşyalı',1,0)

In [14]:
df['Fiyat'].replace({'\n':'',',':'',' TL':''},regex=True,inplace=True)

In [16]:
df['Isınma Tipi'].unique()

array(['Kombi', 'Isıtma Yok', 'Merkezi', 'Merkezi (Pay Ölçer)',
       'Kat Kaloriferi', 'Soba', 'Klima'], dtype=object)

In [17]:
df['Isınma Tipi'].replace({'Isıtma Yok':'0','Kat Kaloriferi':1,'Soba':2,'Klima':3,'Merkezi':4,'Merkezi (Pay Ölçer)':4,'Kombi':5},regex=True,inplace=True)

In [18]:
df['Kat Sayısı'].replace({' Katlı':''},regex=True,inplace=True)

In [19]:
df['Konut Şekli'].unique()

array(['Residence', 'Villa', 'Daire', 'Bina', 'Yalı Dairesi', 'Köşk',
       'Çiftlik Evi', 'Müstakil Ev'], dtype=object)

In [20]:
df['Konut Şekli'].replace({'Çiftlik Evi':1,'Daire':2,'Bina':2,'Müstakil Ev':3,'Villa':3,'Residence':4,'Yalı Dairesi':5,'Köşk':5},regex=True,inplace=True)

In [21]:
df['Kullanım Durumu'].unique()

array(['Boş', 'Kiracı Oturuyor', nan, 'Ev Sahibi Oturuyor',
       'Belirtilmemiş'], dtype=object)

In [22]:
df['Kullanım Durumu'].replace({'Boş':1,'Belirtilmemiş':0,'Kiracı Oturuyor':0,'Ev Sahibi Oturuyor':0},regex=True,inplace=True)

In [23]:
df['Oda + Salon Sayısı'].unique()

array(['1 + 1', '4 + 2', '3 + 1', '1 + 0', '2 + 1', '5 + 0', '3 + 2',
       '4 + 1', '6 + 1', '5 + 1', '6 + 2', '5 + 2', '3 + 3', '4 + 4',
       '300 + 240'], dtype=object)

In [24]:
df['Oda + Salon Sayısı'].replace({'[^0-9]+':''},regex=True,inplace=True)

In [25]:
df['Oda + Salon Sayısı'].replace({'300240':'32'},regex=True,inplace=True)

In [26]:
df['Oda + Salon Sayısı'].unique()

array(['11', '42', '31', '10', '21', '50', '32', '41', '61', '51', '62',
       '52', '33', '44'], dtype=object)

In [27]:
df['Oda + Salon Sayısı'].replace({'11':2,'42':6,'31':4,'10':1,'21':3,'50':5,'32':5,'41':5,'61':7,'51':6,'62':8,'52':7,'33':6,'44':8},regex=True,inplace=True)

In [28]:
#df['Oda + Salon Sayısı']=reduce(sum(int(i) for i in x for x in df[:,'Oda + Salon Sayısı']),df['Oda + Salon Sayısı'])

In [29]:
df['Site İçerisinde']=np.where(df['Site İçerisinde'].isnull(),0,1)

In [30]:
df['İlan Durumu'].unique()

array(['Kiralık'], dtype=object)

In [31]:
df['Yakıt Tipi']=np.where(df['Yakıt Tipi'].isnull(),'Doğalgaz','Elektrik')

In [32]:
df['Aidat'].unique()

array([nan, '450 TL', '400 TL', '60 TL', '100 TL', '50 TL', '30 TL',
       '85 TL', '200 TL', '90 TL', '350 TL', '1,400 TL', '4,000 TL',
       '651 TL', '65 TL', '1,700 TL', '520 TL', '10 TL', '25 TL', '40 TL',
       '583 TL', '20 TL', '250 TL', '600 TL', '500 TL', '850 TL', '45 TL',
       '1,000 TL', '1,715 TL', '1,500 TL', '750 TL', '670 TL', '1,200 TL',
       '320 TL', '2,000 TL', '690 TL', '650 TL', '275 TL', '181 TL',
       '240 TL', '290 TL', '2,300 TL', '35 TL', '110 TL', '235 TL',
       '1,150 TL', '300 TL', '230 TL', '688 TL', '220 TL', '150 TL',
       '120 TL', '80 TL', '440 TL', '800 TL', '560 TL', '1 TL',
       '2,250 TL', '1,650 TL', '1,100 TL', '1,280 TL'], dtype=object)

In [33]:
df['Aidat'].replace({',':'',' TL':''},regex=True,inplace=True)

In [34]:
df=df.drop(columns=['Son Güncelleme Tarihi','İlan Durumu','İlan no','Yapı Tipi'],axis=1)

In [35]:
df['Cephe '].replace({'Güney':3,'Güney, ':2,'Batı':3,'Batı,':2,'Doğu, ':1,'Doğu':2,'Kuzey, ':0,'Kuzey':0},regex=True,inplace=True)

In [36]:
df['Cephe '].unique()

array([ 3.,  0., nan,  2.,  1.])

In [37]:
df['Kullanım Durumu']=df['Kullanım Durumu'].fillna(1)

In [40]:
for col in ('Cephe ','Bulunduğu Kat') : df[col]=df[col].fillna(0)

In [41]:
df['Yakıt Tipi']=df['Yakıt Tipi'].fillna('Doğalgaz')
df['Yakıt Tipi']=np.where(df['Yakıt Tipi']=='Doğalgaz',1,0)

In [43]:
for col in ('Yakıt Tipi','Bina Yaşı','Brüt / Net M2','Fiyat','Isınma Tipi','Kat Sayısı','Kullanım Durumu','Bulunduğu Kat','Cephe ','Oda + Salon Sayısı') : df[col]=df[col].astype(int)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Banyo Sayısı        336 non-null    int64
 1   Bina Yaşı           336 non-null    int32
 2   Brüt / Net M2       336 non-null    int32
 3   Bulunduğu Kat       336 non-null    int32
 4   Cephe               336 non-null    int32
 5   Depozito            212 non-null    object
 6   Eşya Durumu         336 non-null    int32
 7   Fiyat               336 non-null    int32
 8   Isınma Tipi         336 non-null    int32
 9   Kat Sayısı          336 non-null    int32
 10  Konut Şekli         336 non-null    int64
 11  Kullanım Durumu     336 non-null    int32
 12  Oda + Salon Sayısı  336 non-null    int32
 13  Site İçerisinde     336 non-null    int32
 14  Aidat               183 non-null    object
 15  Yakıt Tipi          336 non-null    int32
dtypes: int32(12), int64(2), object(2)
memory usage: 26.4+ KB

In [45]:
df.isnull().sum()

Banyo Sayısı            0
Bina Yaşı               0
Brüt / Net M2           0
Bulunduğu Kat           0
Cephe                   0
Depozito              124
Eşya Durumu             0
Fiyat                   0
Isınma Tipi             0
Kat Sayısı              0
Konut Şekli             0
Kullanım Durumu         0
Oda + Salon Sayısı      0
Site İçerisinde         0
Aidat                 153
Yakıt Tipi              0
dtype: int64

In [46]:
df

,Banyo Sayısı,Bina Yaşı,Brüt / Net M2,Bulunduğu Kat,Cephe,Depozito,Eşya Durumu,Fiyat,Isınma Tipi,Kat Sayısı,Konut Şekli,Kullanım Durumu,Oda + Salon Sayısı,Site İçerisinde,Aidat,Yakıt Tipi
0,1,20,95,18,3,1200,0,6000,5,24,4,1,2,1,NaN,0
1,2,20,250,0,3,NaN,0,10000,5,4,3,0,6,1,450,0
2,1,16,210,2,0,NaN,0,15000,5,2,2,1,4,0,400,0
3,1,30,35,3,0,1600,1,1600,0,5,2,1,1,0,NaN,0
4,1,30,70,3,0,1850,0,1850,5,3,2,1,2,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,1,26,130,3,3,NaN,0,2500,5,5,2,1,4,1,NaN,0
332,2,35,140,1,3,NaN,0,7000,4,4,2,1,4,0,250,0
333,1,0,100,5,0,NaN,0,8000,4,8,2,1,2,0,NaN,0
334,1,25,130,4,3,NaN,1,2350,5,5,2,0,4,0,NaN,0
335,1,1,76,4,3,9600,0,4800,4,48,4,1,2,0,600,0

In [47]:
abs(df.corr()['Fiyat'].sort_values(ascending=False))

Fiyat                 1.000000
Bulunduğu Kat         0.145684
Konut Şekli           0.140377
Eşya Durumu           0.114522
Kat Sayısı            0.108230
Brüt / Net M2         0.070804
Site İçerisinde       0.068112
Cephe                 0.060761
Oda + Salon Sayısı    0.049313
Kullanım Durumu       0.015828
Banyo Sayısı          0.009230
Bina Yaşı             0.036793
Isınma Tipi           0.037355
Yakıt Tipi                 NaN
Name: Fiyat, dtype: float64

In [49]:
df["Oda + Salon Sayısı"]=df["Oda + Salon Sayısı"]**2
df["Banyo Sayısı"]=df["Banyo Sayısı"]**2
df=df[df["Bulunduğu Kat"]<=df["Kat Sayısı"]]

### Regression ile Depozito sütununun boşluklarını doldurdum

In [50]:
from sklearn.ensemble import GradientBoostingRegressor
gb=GradientBoostingRegressor()

full=df[df['Depozito'].notnull()]
y=full['Depozito'].astype(int)
x=full.drop(columns=['Depozito','Aidat'],axis=1)

In [51]:
y

0       1200
3       1600
4       1850
5       2500
6       5250
       ...
322     3200
326    47000
329     1250
330     2500
335     9600
Name: Depozito, Length: 211, dtype: int32

In [52]:
x

,Banyo Sayısı,Bina Yaşı,Brüt / Net M2,Bulunduğu Kat,Cephe,Eşya Durumu,Fiyat,Isınma Tipi,Kat Sayısı,Konut Şekli,Kullanım Durumu,Oda + Salon Sayısı,Site İçerisinde,Yakıt Tipi
0,1,20,95,18,3,0,6000,5,24,4,1,4,1,0
3,1,30,35,3,0,1,1600,0,5,2,1,1,0,0
4,1,30,70,3,0,0,1850,5,3,2,1,4,0,0
5,1,39,115,3,0,0,2500,5,4,2,1,16,0,0
6,1,30,102,2,3,0,4750,5,3,2,1,9,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,1,30,110,5,0,0,3200,5,5,2,1,9,0,0
326,25,10,400,0,3,0,23500,5,5,3,0,64,1,0
329,1,6,77,0,3,0,1250,5,4,2,1,9,0,0
330,1,0,88,5,0,0,2300,4,13,4,1,9,1,0
335,1,1,76,4,3,0,4800,4,48,4,1,4,0,0

In [53]:
pred=gb.fit(x,y).predict(x)

In [54]:
from sklearn.metrics import r2_score
r2_score(y,pred)

0.9910669081954271

In [55]:
miss=df[df['Depozito'].isnull()]
miss=miss.drop(columns=['Depozito','Aidat'],axis=1)

In [56]:
miss

,Banyo Sayısı,Bina Yaşı,Brüt / Net M2,Bulunduğu Kat,Cephe,Eşya Durumu,Fiyat,Isınma Tipi,Kat Sayısı,Konut Şekli,Kullanım Durumu,Oda + Salon Sayısı,Site İçerisinde,Yakıt Tipi
1,4,20,250,0,3,0,10000,5,4,3,0,36,1,0
2,1,16,210,2,0,0,15000,5,2,2,1,16,0,0
8,1,5,135,1,3,0,209000,5,4,2,1,9,0,0
10,9,9,170,1,0,0,5850,5,5,2,0,16,0,0
11,1,30,70,0,0,0,1850,5,5,2,1,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,9,6,300,0,3,0,21000,5,4,2,1,25,1,0
331,1,26,130,3,3,0,2500,5,5,2,1,16,1,0
332,4,35,140,1,3,0,7000,4,4,2,1,16,0,0
333,1,0,100,5,0,0,8000,4,8,2,1,4,0,0
334,1,25,130,4,3,1,2350,5,5,2,0,16,0,0

In [57]:
pred1=gb.fit(x,y).predict(miss)

In [58]:
pred1=pred1.astype(int)

In [59]:
miss.loc[:,'Depozito']=pred1

In [60]:
miss

,Banyo Sayısı,Bina Yaşı,Brüt / Net M2,Bulunduğu Kat,Cephe,Eşya Durumu,Fiyat,Isınma Tipi,Kat Sayısı,Konut Şekli,Kullanım Durumu,Oda + Salon Sayısı,Site İçerisinde,Yakıt Tipi,Depozito
1,4,20,250,0,3,0,10000,5,4,3,0,36,1,0,28941
2,1,16,210,2,0,0,15000,5,2,2,1,16,0,0,20341
8,1,5,135,1,3,0,209000,5,4,2,1,9,0,0,92049
10,9,9,170,1,0,0,5850,5,5,2,0,16,0,0,7301
11,1,30,70,0,0,0,1850,5,5,2,1,4,0,0,1801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,9,6,300,0,3,0,21000,5,4,2,1,25,1,0,31403
331,1,26,130,3,3,0,2500,5,5,2,1,16,1,0,3103
332,4,35,140,1,3,0,7000,4,4,2,1,16,0,0,9633
333,1,0,100,5,0,0,8000,4,8,2,1,4,0,0,10916
334,1,25,130,4,3,1,2350,5,5,2,0,16,0,0,4537

In [61]:
df[df['Depozito'].isnull()]=miss

<ipython-input-61-fbbb1df66529>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['Depozito'].isnull()]=miss
C:\Users\arise\anaconda3\lib\site-packages\pandas\core\indexing.py:1717: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

In [62]:
df.isnull().sum()

Banyo Sayısı            0
Bina Yaşı               0
Brüt / Net M2           0
Bulunduğu Kat           0
Cephe                   0
Depozito                0
Eşya Durumu             0
Fiyat                   0
Isınma Tipi             0
Kat Sayısı              0
Konut Şekli             0
Kullanım Durumu         0
Oda + Salon Sayısı      0
Site İçerisinde         0
Aidat                 173
Yakıt Tipi              0
dtype: int64

In [63]:
df.Depozito=df.Depozito.astype(int)
df

C:\Users\arise\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Banyo Sayısı,Bina Yaşı,Brüt / Net M2,Bulunduğu Kat,Cephe,Depozito,Eşya Durumu,Fiyat,Isınma Tipi,Kat Sayısı,Konut Şekli,Kullanım Durumu,Oda + Salon Sayısı,Site İçerisinde,Aidat,Yakıt Tipi
0,1,20,95,18,3,1200,0,6000,5,24,4,1,4,1,NaN,0
1,4,20,250,0,3,28941,0,10000,5,4,3,0,36,1,NaN,0
2,1,16,210,2,0,20341,0,15000,5,2,2,1,16,0,NaN,0
3,1,30,35,3,0,1600,1,1600,0,5,2,1,1,0,NaN,0
4,1,30,70,3,0,1850,0,1850,5,3,2,1,4,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,1,26,130,3,3,3103,0,2500,5,5,2,1,16,1,NaN,0
332,4,35,140,1,3,9633,0,7000,4,4,2,1,16,0,NaN,0
333,1,0,100,5,0,10916,0,8000,4,8,2,1,4,0,NaN,0
334,1,25,130,4,3,4537,1,2350,5,5,2,0,16,0,NaN,0
335,1,1,76,4,3,9600,0,4800,4,48,4,1,4,0,600,0

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 332 entries, 0 to 335
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Banyo Sayısı        332 non-null    int64
 1   Bina Yaşı           332 non-null    int32
 2   Brüt / Net M2       332 non-null    int32
 3   Bulunduğu Kat       332 non-null    int32
 4   Cephe               332 non-null    int32
 5   Depozito            332 non-null    int32
 6   Eşya Durumu         332 non-null    int32
 7   Fiyat               332 non-null    int32
 8   Isınma Tipi         332 non-null    int32
 9   Kat Sayısı          332 non-null    int32
 10  Konut Şekli         332 non-null    int64
 11  Kullanım Durumu     332 non-null    int32
 12  Oda + Salon Sayısı  332 non-null    int32
 13  Site İçerisinde     332 non-null    int32
 14  Aidat               159 non-null    object
 15  Yakıt Tipi          332 non-null    int32
dtypes: int32(13), int64(2), object(1)
memory usage: 27.2+ KB

### Regression ile Aidat sütununun boşluklarını doldurdum

In [65]:
full=df[df['Aidat'].notnull()]
y=full['Aidat'].astype(int)
x=full.drop(columns=['Aidat'],axis=1)

In [66]:
y

5        60
6       100
7        50
9        85
13       50
       ...
312     100
318    1400
326    1280
330     300
335     600
Name: Aidat, Length: 159, dtype: int32

In [67]:
x

,Banyo Sayısı,Bina Yaşı,Brüt / Net M2,Bulunduğu Kat,Cephe,Depozito,Eşya Durumu,Fiyat,Isınma Tipi,Kat Sayısı,Konut Şekli,Kullanım Durumu,Oda + Salon Sayısı,Site İçerisinde,Yakıt Tipi
5,1,39,115,3,0,2500,0,2500,5,4,2,1,16,0,0
6,1,30,102,2,3,5250,0,4750,5,3,2,1,9,0,0
7,1,4,65,0,0,4500,1,3000,5,5,2,1,4,0,0
9,4,40,120,2,0,3500,0,2850,4,5,2,1,16,0,0
13,1,50,80,1,0,1700,0,1700,5,4,2,1,9,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,4,28,150,2,0,1,0,3000,4,3,2,1,16,0,0
318,4,0,104,2,0,18500,0,9000,4,6,2,1,9,1,0
326,25,10,400,0,3,47000,0,23500,5,5,3,0,64,1,0
330,1,0,88,5,0,2500,0,2300,4,13,4,1,9,1,0
335,1,1,76,4,3,9600,0,4800,4,48,4,1,4,0,0

In [68]:
miss=df[df['Aidat'].isnull()]
miss=miss.drop(columns='Aidat',axis=1)

In [69]:
pred2=gb.fit(x,y).predict(miss)

In [70]:
miss.loc[:,'Aidat']=pred2

In [71]:
df[df['Aidat'].isnull()]=miss

<ipython-input-71-a3e7c0533fb2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['Aidat'].isnull()]=miss
C:\Users\arise\anaconda3\lib\site-packages\pandas\core\indexing.py:1717: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

In [72]:
df.Aidat=df.Aidat.astype(int)
df

C:\Users\arise\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Banyo Sayısı,Bina Yaşı,Brüt / Net M2,Bulunduğu Kat,Cephe,Depozito,Eşya Durumu,Fiyat,Isınma Tipi,Kat Sayısı,Konut Şekli,Kullanım Durumu,Oda + Salon Sayısı,Site İçerisinde,Aidat,Yakıt Tipi
0,1,20,95,18,3,1200,0,6000,5,24,4,1,4,1,683,0
1,4,20,250,0,3,28941,0,10000,5,4,3,0,36,1,795,0
2,1,16,210,2,0,20341,0,15000,5,2,2,1,16,0,3138,0
3,1,30,35,3,0,1600,1,1600,0,5,2,1,1,0,-69,0
4,1,30,70,3,0,1850,0,1850,5,3,2,1,4,0,72,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,1,26,130,3,3,3103,0,2500,5,5,2,1,16,1,159,0
332,4,35,140,1,3,9633,0,7000,4,4,2,1,16,0,329,0
333,1,0,100,5,0,10916,0,8000,4,8,2,1,4,0,848,0
334,1,25,130,4,3,4537,1,2350,5,5,2,0,16,0,92,0
335,1,1,76,4,3,9600,0,4800,4,48,4,1,4,0,600,0

### Regression ile Fiyat tahmini

In [73]:
df.isnull().sum()

Banyo Sayısı          0
Bina Yaşı             0
Brüt / Net M2         0
Bulunduğu Kat         0
Cephe                 0
Depozito              0
Eşya Durumu           0
Fiyat                 0
Isınma Tipi           0
Kat Sayısı            0
Konut Şekli           0
Kullanım Durumu       0
Oda + Salon Sayısı    0
Site İçerisinde       0
Aidat                 0
Yakıt Tipi            0
dtype: int64

In [74]:
df

,Banyo Sayısı,Bina Yaşı,Brüt / Net M2,Bulunduğu Kat,Cephe,Depozito,Eşya Durumu,Fiyat,Isınma Tipi,Kat Sayısı,Konut Şekli,Kullanım Durumu,Oda + Salon Sayısı,Site İçerisinde,Aidat,Yakıt Tipi
0,1,20,95,18,3,1200,0,6000,5,24,4,1,4,1,683,0
1,4,20,250,0,3,28941,0,10000,5,4,3,0,36,1,795,0
2,1,16,210,2,0,20341,0,15000,5,2,2,1,16,0,3138,0
3,1,30,35,3,0,1600,1,1600,0,5,2,1,1,0,-69,0
4,1,30,70,3,0,1850,0,1850,5,3,2,1,4,0,72,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,1,26,130,3,3,3103,0,2500,5,5,2,1,16,1,159,0
332,4,35,140,1,3,9633,0,7000,4,4,2,1,16,0,329,0
333,1,0,100,5,0,10916,0,8000,4,8,2,1,4,0,848,0
334,1,25,130,4,3,4537,1,2350,5,5,2,0,16,0,92,0
335,1,1,76,4,3,9600,0,4800,4,48,4,1,4,0,600,0

In [91]:
from sklearn.model_selection import train_test_split
y=df[["Fiyat"]]
x=df.drop(columns='Fiyat',axis=1)

In [100]:
algo_test(x,y)

                    R2_score          RMSE           MAE
Gradient Boosting   0.905325   2020.764717   1347.476612
XGradientBoosting   0.881081   2264.764859   1423.722757
KNeighbors          0.785438   3042.099701   1908.823529
DecisionTree        0.669770   3774.030846   2077.941176
Extra Tree         -1.222155   9790.042210   3151.470588
Ridge             -56.044224  49602.458019  34630.826631
Lasso             -56.150113  49648.474376  34735.332737
Linear            -56.151613  49649.126094  34736.931020
ElasticNet        -56.331013  49726.989702  32888.141685

- Veri az olduğundan dolayı Deep Learning yapmadım.